<#@ template language="C#" #>
<#@output extension=".md"#>
# Synergy.Documentation nuget package

## Enlisting Public API

To enlist public API, we use the following tool:

```csharp
<#= this.ApiFile.ReadAllText() #>
```

For sample code, please check: <#= this.ApiLink #>

To see the results, please check: <#= this.ApiForSynergyDocsLink #>

**Note:**

When you expose your public API, you should be aware how it looks like from the outside - <#= this.ApiLink #>.

When you consume some external library - you can enlist its public API and see how it looks like - <#= this.PackageLink #>.

## Managing technical debt

To manage technical debt, we use the following tool:

```csharp
<#= this.TodosFile.ReadAllText() #>
```

For sample code, please check: <#= this.TodosLink #>

To see the results, please check: <#= this.TodosDebtLink #>

**Note:** 

Basic idea of using this test is to have a list of all technical debt in the project.
Each time developer adds a new technical debt, he should re-run this test otherwise it will fail on the CI.
When all tech debt for the project is materialized in single file - we can start working on it.
It also helps to keep track of all tech debt in the project.
Moreover, it is much easier to spot new technical debt during the code review.

## Enlisting dependencies of a class

To document dependencies of a specific class, we use the following tool:

```csharp
<#= this.RelationsFile.ReadAllText() #>
```

For sample code, please check: <#= this.RelationsLink #>

To see the results, please check: <#= this.RelationsOfMarkdownLink #>

## Comments in code

TBC

[//]: # (TODO Write the documentation of Note class usage)

## Generating markdown files from code - Docs as Code

TBC

[//]: # (TODO Write the documentation of Markdown class usage)

