<#@ template language="C#" #>
<#@output extension=".md"#>
# Synergy.Documentation nuget package

Here is the documentation of the Synergy.Documentation and Synergy.Documentation.Annotations nuget packages.
They were created to help developers to document their code in a simple way.
It is based on the idea of [Docs as Code](https://www.writethedocs.org/guide/docs-as-code/).

## Enlisting Public API

To enlist public API, we use the following tool:

```csharp
<#= this.ApiFile.ReadAllText() #>
```

For sample code, please check: <#= this.ApiLink #>

To see the results, please check: <#= this.ApiForSynergyDocsLink #>

**Note:**

When you expose your public API, you should be aware how it looks like from the outside - <#= this.ApiLink #>.

When you consume some external library - you can enlist its public API and see how it looks like - <#= this.PackageLink #>.

## Enlisting dependencies of a class

To document dependencies of a specific class, we use the following tool:

```csharp
<#= this.RelationsFile.ReadAllText() #>
```

For sample code, please check: <#= this.RelationsLink #>

To see the results, please check: <#= this.RelationsOfMarkdownLink #>

## Managing technical debt

To manage technical debt, we use the following tool:

```csharp
<#= this.TodosFile.ReadAllText() #>
```

For sample code, please check: <#= this.TodosLink #>

To see the results, please check: <#= this.TodosDebtLink #>

**Note:** 

Basic idea of using this test is to have a list of all technical debt in the project.
Each time developer adds a new technical debt, he should re-run this test otherwise it will fail on the CI.
When all tech debt for the project is materialized in single file - we can start working on it.
It also helps to keep track of all tech debt in the project.
Moreover, it is much easier to spot new technical debt during the code review.

## Comments as code

You probably wonder why we use this approach instead of using standard comments.
For sure you heard that comments in code are bad because nobody reads them.
Actually they are invisible for developer.

To make them visible, we need to convert them into code.
To use comments as code approach, we use the following tool:

```csharp
<#= this.NoteTestsFile.ReadAllText() #>
```

For sample code, please check: <#= this.NoteTestsLink #>

**Notes:** 

- Do not use this approach to comment something obvious. Do not use ANY comment in such case.
- Use this approach to comment something that is important and you want to explain it to the reader.

To learn more how to write good comments, please check: [Best practices for writing code comments](https://stackoverflow.blog/2021/12/23/best-practices-for-writing-code-comments/):
> - Rule 1: Comments should not duplicate the code.
> - Rule 2: Good comments do not excuse unclear code.
> - Rule 3: If you can't write a clear comment, there may be a problem with the code.
> - Rule 4: Comments should dispel confusion, not cause it.
> - Rule 5: Explain unidiomatic code in comments.
> - Rule 6: Provide links to the original source of copied code.
> - Rule 7: Include links to external references where they will be most helpful.
> - Rule 8: Add comments when fixing bugs.
> - Rule 9: Use comments to mark incomplete implementations.

## Generating markdown files from code - Docs as Code

TBC

[//]: # (TODO Write the documentation of Markdown class usage)

